nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 848px;
    margin: 0 auto;
    padding: 25px 0 0;
    transition: all .8s;
    // animation: unsticky 1200ms forwards;


    &.fixed {
      position: fixed;
      width: 100%;
      height: 80px;
      background: $c8;
      max-width: none;
      z-index: 20;
      padding: 0;
      box-shadow: 0 1px 6px 0px $cBlack;
      animation: sticky 1200ms forwards;

      .logo-top, .phone-top {
        display: block;
      }

      // @media(max-width: 1279px) {
      //     width: 300px;
      //     height: 100vh;
      //     flex-wrap: wrap;
      //     position: fixed;
      //     right: 0;
      //     top: 0;
      //     z-index: 19;
      //     background: $c1;
      //     padding: 20px 10px;
      //     display: block;
      //     box-shadow: 1px 0 9px 1px $cBlack;
      //     transform: translateX(150%) translateY(79px);
      //     opacity: 0;
      //     transition: transform .8s;
      //     .logo-top {
      //       display: none;
      //     }
      //
      //     &.openned {
      //       transform: translateX(0) translateY(79px);
      //       transition: all .8s;
      //       opacity: 1;
      //
      //     }
      //
      //     a {
      //       width: 100%;
      //       margin-bottom: 30px;
      //
      //       svg {
      //         display: none;
      //       }
      //       span {
      //         padding: 20px 10px;
      //         line-height: 0.5;
      //         width: 100%;
      //       }
      //       &.fale-conosco {
      //         span {
      //           width: 100%;
      //         }
      //       }
      //     }
      // }

      a {
        height: 28px;
      }
    }
    a {
        font-family: $titleFont;
        color: $cBlack;
        font-size: 1.387rem;
        line-height: 0.315;
        text-align: center;
        position: relative;
        margin: 0;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        span {
            // display: flex;
            height: 100%;
            // justify-content: center;
            // align-items: center;
            background: $c2;
            position: relative;
            z-index: 4;
            line-height: 1.7;
        }
        .ribbon {
          height: 28px;
          width: 28px;
          fill: $c2;
          position: relative;
          z-index: 3;

          &.left {
            transform: translateX(3px);
          }
          &.right {
            transform: translateX(-3px);
          }
        }
        &.fale-conosco {
            span {
                width: 150px;
            }
        }
    }

}
@media(max-width: 1100px) {
  nav, nav.fixed {
    width: 300px;
    height: 100vh;
    flex-wrap: wrap;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 19;
    background: $c1;
    padding: 20px 10px;
    display: block;
    box-shadow: 1px 0 9px 1px $cBlack;
    transform: translateX(150%) translateY(79px);
    opacity: 0;
    transition: all .8s;

    .logo-top {
      display: none !important;
    }
    
    &.openned {
      transform: translateX(0) translateY(79px);
      transition: all .8s;
      opacity: 1;
    }

    a {
      width: 100%;
      margin-bottom: 30px;

      svg {
        display: none;
      }
      span {
        padding: 20px 10px;
        line-height: 0.5;
        width: 100%;
      }
      &.fale-conosco {
        span {
          width: 100%;
        }
      }
    }
  }
}

#hamburger-menu {
  position: fixed;
  width: 100%;
  height: 80px;
  background: $c8;
  max-width: none;
  z-index: 20;
  padding: 10px 20px;
  box-shadow: 0 1px 6px 0px $cBlack;
  animation: sticky 1200ms forwards;
  display: flex;
  justify-content: space-between;
  display: none;
  .logo-top {
    display: block;
  }

  @media(max-width: 1100px) {
    display: flex;
  }
}

.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: $c2;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
.phone-top {
  font-family: $titleFont;
  color: $cWhite;
  text-transform: uppercase;
  font-size: 19px;
  line-height: .8;
  margin: 0 20px;
  display: none;

  span {
    display: block;
    font-size: 24px;
  }
  @media (max-width: 1280px) {
    margin: 0 0 0 7px;
  }
  @media(max-width: 1275px) {
    display: none !important;
  }
}
.logo-top {
  margin: 0 20px;
  display: none;

  @media(max-width: 1145px) {
    margin: 0 10px 0 0;
  }
}
@keyframes sticky {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes unsticky {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}
