
.ribbon_edge {
    display: inline-block;
    background: transparent;
    width: 40px;
    height: 29px;
  &:before {
    content: '';
    top: 0px;
    left: 15px;
    border-color: #f1c646 transparent transparent;
    border-style: solid;
    border-width: 21px;
    height: 0px;
    width: 0px;
    position: relative;
    float: left;
  }
  &:after {
    content: '';
    top: -53px;
    left: 15px;
    border-color: transparent transparent #f1c646;
    border-style: solid;
    border-width: 20px;
    height: 0px;
    width: 0px;
    position: relative;
    float: left;
  }
}