.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    padding: 65px 0 0;
    margin-bottom: 20px;
    width: 100%;
    h2 {
        color: $c6;
        font-size: 4.689rem;
        text-align: center;
        font-family: $titleFont;
        // position: absolute;
        line-height: 0.35;
        background: $c2;
        padding: 0 20px;
        letter-spacing: .5rem;
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        height: 66.8px;
        display: flex;
        align-items: flex-end;
    }
    .hamburger-icon {
        width: 66px;
        height: 66px;
        fill: $c2;
    }

    .adicionais-icon {
        width: 82px;
        height: 82px;
    }
    .hamburger-icon {
        &.left {
          transform: rotate(-15deg);
        }
        &.right {
          transform: rotate(15deg);
        }
    }
    .petiscos-icon {
        width: 60px;
        height: 80px;
        fill: $c2;

        &.left {
            transform: rotate(-15deg);
        }

        &.right {
            transform: rotate(15deg);
        }
    }
    .bebidas-icon {
        width: 42px;
        height: 90px;
        fill: $c2;

        &.left {
            transform: rotate(-15deg);
        }

        &.right {
            transform: rotate(15deg);
        }
    }
    .fale-conosco-icon {
        fill: $c2;
        width: 47px;
        height: 72px;

        &.left {
            transform: rotate(-15deg);
        }

        &.right {
            transform: rotate(15deg);
        }
    }
    .ribbon {
        width: 66px;
        height: 70px;
        fill: $c2;
        position: relative;
        z-index: 1;

        &.left {
            right: -30px;
        }
        &.right {
            left: -30px;
        }
    }
    &.petiscos {
      .ribbon {
        height: 72px;
      }
    }
    @media(max-width: 990px) {
      h2 {
        height: 45px;
        line-height: .55;
        font-size: 2.5rem;
      }
      .ribbon {
        height: 45px;
      }
      &.petiscos {
        .ribbon {
          height: 45px;
        }
      }
      .hamburger-icon {
        height: 40px;
        width: 40px;
      }
      .adicionais-icon {
        height: 50px;
        width: 85px;
      }
      .petiscos-icon {
        width: 40px;
        height: 60px;
      }
      .bebidas-icon {
        width: 22px;
        height: 70px;
      }
      .fale-conosco-icon {
        width: 37px;
        height: 62px;
      }
    }
    @media(max-width: 765px) {
      h2 {
        height: 35px;
        line-height: 0.95;
        font-size: 1.5rem;
      }
      .ribbon {
        height: 35px;
        &.left {
          right: -20px;
        }
        &.right {
          left: -20px;
        }
      }
      &.petiscos {
        .ribbon {
          height: 35px;
        }
      }
      &.fale-conosco {
        h2 {
          height: 50px;
          line-height: 0.75;
          font-size: 1.5rem;
        }
        .ribbon {
          height: 50px;
        }
      }
    }
    @media(max-width: 535px) {
      h2 {
        height: 35px;
        line-height: 1.45;
        font-size: 1.1rem;
      }
    }
    @media(max-width: 400px) {
      h2 {
        letter-spacing: 0;
      }
    }
}
