@font-face {
    font-family: 'Phosphate-Solid';
    src: url('../assets/fonts/Phosphate.eot');
    src: url('../assets/fonts/Phosphate.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Phosphate.woff2') format('woff2'),
        url('../assets/fonts/Phosphate.woff') format('woff'),
        url('../assets/fonts/Phosphate.svg#Phosphate') format('svg');
    font-style: normal;
    font-display: inline;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}
