/*********************************************************************
*  =Variables
*********************************************************************/
/*********************************************************************
*  =Grid and typograph
*********************************************************************/
/*********************************************************************
*  =Colors
*********************************************************************/
/*********************************************************************
*  = icon path
*********************************************************************/
/*********************************************************************
*  = Font Family
*********************************************************************/
/*********************************************************************
*  =Media Screen
*********************************************************************/
/*********************************************************************
*  =Functions
*********************************************************************/
/*********************************************************************
*  =Colorful links
*
*********************************************************************/
/*********************************************************************
*  =Pseudo icon mixin
*********************************************************************/
/*********************************************************************
*  Retina sprite
*********************************************************************/
/*********************************************************************
*  =Font smooth
*********************************************************************/
/*********************************************************************
*  =Clearfix
*********************************************************************/
/*********************************************************************
*  =Responsive
*********************************************************************/
/*********************************************************************
*  =Gradient
*********************************************************************/
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased; }
body, html {
  width: 100%;
  overflow-x: hidden !important; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-width: thin; }
ul {
  margin: 0;
  padding: 0;
  list-style: none; }
a {
  text-decoration: none; }
h3 {
  font-weight: normal; }
abbr {
  text-decoration: none; }
figure {
  padding: 0;
  margin: 0; }
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; }
@media (max-width: 1200px) {
  .container {
    width: 90%; } }
/*********************************************************************
*  =Image replacement
*********************************************************************/
/*********************************************************************
*  =Centered content
*********************************************************************/
/*********************************************************************
*  =No underline
*********************************************************************/
/*********************************************************************
*  =Ellipsis
*********************************************************************/
/*********************************************************************
*  =Pseudo Icon
*********************************************************************/
/*********************************************************************
*  =Flex
*********************************************************************/
/*********************************************************************
*  =Verticaly centered
*********************************************************************/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.flex.between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.flex.vertical-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.notTouch {
  pointer-events: none; }
svg:not(.dflt) path {
  fill: inherit;
  stroke: inherit; }
svg:not(.dflt) line {
  fill: none;
  stroke-linejoin: round;
  stroke-width: inherit;
  stroke: inherit; }
svg:not(.dflt) polyline {
  stroke-dasharray: 0;
  stroke-dashoffset: 0; }
svg:not(.dflt) circle {
  fill: none;
  stroke-linejoin: round;
  stroke-width: inherit;
  stroke: inherit; }
.hidden {
  display: none; }
.sprite {
  width: 0;
  height: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: inherit; }
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 848px;
  margin: 0 auto;
  padding: 25px 0 0;
  -webkit-transition: all .8s;
  transition: all .8s; }
nav.fixed {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #cb272c;
    max-width: none;
    z-index: 20;
    padding: 0;
    -webkit-box-shadow: 0 1px 6px 0px #000;
            box-shadow: 0 1px 6px 0px #000;
    -webkit-animation: sticky 1200ms forwards;
            animation: sticky 1200ms forwards; }
nav.fixed .logo-top, nav.fixed .phone-top {
      display: block; }
nav.fixed a {
      height: 28px; }
nav a {
    font-family: "Phosphate-Solid", sans-serif;
    color: #000;
    font-size: 1.387rem;
    line-height: 0.315;
    text-align: center;
    position: relative;
    margin: 0;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
nav a span {
      height: 100%;
      background: #f1c646;
      position: relative;
      z-index: 4;
      line-height: 1.7; }
nav a .ribbon {
      height: 28px;
      width: 28px;
      fill: #f1c646;
      position: relative;
      z-index: 3; }
nav a .ribbon.left {
        -webkit-transform: translateX(3px);
                transform: translateX(3px); }
nav a .ribbon.right {
        -webkit-transform: translateX(-3px);
                transform: translateX(-3px); }
nav a.fale-conosco span {
      width: 150px; }
@media (max-width: 1100px) {
  nav, nav.fixed {
    width: 300px;
    height: 100vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 19;
    background: #a12225;
    padding: 20px 10px;
    display: block;
    -webkit-box-shadow: 1px 0 9px 1px #000;
            box-shadow: 1px 0 9px 1px #000;
    -webkit-transform: translateX(150%) translateY(79px);
            transform: translateX(150%) translateY(79px);
    opacity: 0;
    -webkit-transition: all .8s;
    transition: all .8s; }
    nav .logo-top, nav.fixed .logo-top {
      display: none !important; }
    nav.openned, nav.fixed.openned {
      -webkit-transform: translateX(0) translateY(79px);
              transform: translateX(0) translateY(79px);
      -webkit-transition: all .8s;
      transition: all .8s;
      opacity: 1; }
    nav a, nav.fixed a {
      width: 100%;
      margin-bottom: 30px; }
      nav a svg, nav.fixed a svg {
        display: none; }
      nav a span, nav.fixed a span {
        padding: 20px 10px;
        line-height: 0.5;
        width: 100%; }
      nav a.fale-conosco span, nav.fixed a.fale-conosco span {
        width: 100%; } }
#hamburger-menu {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #cb272c;
  max-width: none;
  z-index: 20;
  padding: 10px 20px;
  -webkit-box-shadow: 0 1px 6px 0px #000;
          box-shadow: 0 1px 6px 0px #000;
  -webkit-animation: sticky 1200ms forwards;
          animation: sticky 1200ms forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none; }
#hamburger-menu .logo-top {
    display: block; }
@media (max-width: 1100px) {
    #hamburger-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #f1c646;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.hamburger:hover {
  cursor: pointer; }
/* ONE */
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0; }
#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg); }
#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg); }
.phone-top {
  font-family: "Phosphate-Solid", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
  line-height: .8;
  margin: 0 20px;
  display: none; }
.phone-top span {
    display: block;
    font-size: 24px; }
@media (max-width: 1280px) {
    .phone-top {
      margin: 0 0 0 7px; } }
@media (max-width: 1275px) {
    .phone-top {
      display: none !important; } }
.logo-top {
  margin: 0 20px;
  display: none; }
@media (max-width: 1145px) {
    .logo-top {
      margin: 0 10px 0 0; } }
@-webkit-keyframes sticky {
  0% {
    top: -100px; }
  100% {
    top: 0; } }
@keyframes sticky {
  0% {
    top: -100px; }
  100% {
    top: 0; } }
@-webkit-keyframes unsticky {
  0% {
    top: -100px; }
  100% {
    top: 0; } }
@keyframes unsticky {
  0% {
    top: -100px; }
  100% {
    top: 0; } }
.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  padding: 65px 0 0;
  margin-bottom: 20px;
  width: 100%; }
.section-title h2 {
    color: #2b1211;
    font-size: 4.689rem;
    text-align: center;
    font-family: "Phosphate-Solid", sans-serif;
    line-height: 0.35;
    background: #f1c646;
    padding: 0 20px;
    letter-spacing: .5rem;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    height: 66.8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
.section-title .hamburger-icon {
    width: 66px;
    height: 66px;
    fill: #f1c646; }
.section-title .adicionais-icon {
    width: 82px;
    height: 82px; }
.section-title .hamburger-icon.left {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); }
.section-title .hamburger-icon.right {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); }
.section-title .petiscos-icon {
    width: 60px;
    height: 80px;
    fill: #f1c646; }
.section-title .petiscos-icon.left {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg); }
.section-title .petiscos-icon.right {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg); }
.section-title .bebidas-icon {
    width: 42px;
    height: 90px;
    fill: #f1c646; }
.section-title .bebidas-icon.left {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg); }
.section-title .bebidas-icon.right {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg); }
.section-title .fale-conosco-icon {
    fill: #f1c646;
    width: 47px;
    height: 72px; }
.section-title .fale-conosco-icon.left {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg); }
.section-title .fale-conosco-icon.right {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg); }
.section-title .ribbon {
    width: 66px;
    height: 70px;
    fill: #f1c646;
    position: relative;
    z-index: 1; }
.section-title .ribbon.left {
      right: -30px; }
.section-title .ribbon.right {
      left: -30px; }
.section-title.petiscos .ribbon {
    height: 72px; }
@media (max-width: 990px) {
    .section-title h2 {
      height: 45px;
      line-height: .55;
      font-size: 2.5rem; }
    .section-title .ribbon {
      height: 45px; }
    .section-title.petiscos .ribbon {
      height: 45px; }
    .section-title .hamburger-icon {
      height: 40px;
      width: 40px; }
    .section-title .adicionais-icon {
      height: 50px;
      width: 85px; }
    .section-title .petiscos-icon {
      width: 40px;
      height: 60px; }
    .section-title .bebidas-icon {
      width: 22px;
      height: 70px; }
    .section-title .fale-conosco-icon {
      width: 37px;
      height: 62px; } }
@media (max-width: 765px) {
    .section-title h2 {
      height: 35px;
      line-height: 0.95;
      font-size: 1.5rem; }
    .section-title .ribbon {
      height: 35px; }
      .section-title .ribbon.left {
        right: -20px; }
      .section-title .ribbon.right {
        left: -20px; }
    .section-title.petiscos .ribbon {
      height: 35px; }
    .section-title.fale-conosco h2 {
      height: 50px;
      line-height: 0.75;
      font-size: 1.5rem; }
    .section-title.fale-conosco .ribbon {
      height: 50px; } }
@media (max-width: 535px) {
    .section-title h2 {
      height: 35px;
      line-height: 1.45;
      font-size: 1.1rem; } }
@media (max-width: 400px) {
    .section-title h2 {
      letter-spacing: 0; } }
@font-face {
  font-family: 'Phosphate-Solid';
  src: url("~/assets/fonts/PhosphateSolid.eot");
  src: url("~/assets/fonts/PhosphateSolid.eot?#iefix") format("embedded-opentype"), url("~/assets/fonts/PhosphateSolid.woff2") format("woff2"), url("~/assets/fonts/PhosphateSolid.woff") format("woff"), url("~/assets/fonts/PhosphateSolid.svg#PhosphateSolid") format("svg");
  line-height: 1; }
h1, h2, h3, h4, h5, h6 {
  margin: 0; }
p {
  margin: 0; }
.cardapio {
  background: #341b1a;
  padding: 0 0 120px; }
.cardapio .burger-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
.cardapio .burger-wrp figure {
      position: relative;
      width: 33%;
      max-width: 370px;
      min-width: 370px; }
.cardapio .burger-wrp figure svg {
        z-index: 1;
        position: absolute;
        right: 0; }
.cardapio .burger-wrp figure .box {
        z-index: 2;
        position: relative; }
.cardapio .burger-wrp figure .hamburger {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateX(110px);
                transform: translateX(110px);
        z-index: 1; }
.cardapio .burger-wrp figure.elvis-burger .hamburger {
        -webkit-transform: translateX(55px) translateY(-121px);
                transform: translateX(55px) translateY(-121px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.elvis-burger:hover .hamburger {
        -webkit-transform: translateX(70px) translateY(-121px);
                transform: translateX(70px) translateY(-121px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.janis-burger .hamburger {
        -webkit-transform: translateX(55px) translateY(-120px);
                transform: translateX(55px) translateY(-120px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.janis-burger:hover .hamburger {
        -webkit-transform: translateX(78px) translateY(-120px);
                transform: translateX(78px) translateY(-120px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.ramones-burger .hamburger {
        -webkit-transform: translateX(70px) translateY(-110px);
                transform: translateX(70px) translateY(-110px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.ramones-burger:hover .hamburger {
        -webkit-transform: translateX(100px) translateY(-110px);
                transform: translateX(100px) translateY(-110px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.led-burger .hamburger {
        -webkit-transform: translateX(100px) translateY(-128px);
                transform: translateX(100px) translateY(-128px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.led-burger:hover .hamburger {
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
        -webkit-transform: translateX(125px) translateY(-128px);
                transform: translateX(125px) translateY(-128px); }
.cardapio .burger-wrp figure.beatles-burger .hamburger {
        -webkit-transform: translateX(65px) translateY(-123px);
                transform: translateX(65px) translateY(-123px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.beatles-burger:hover .hamburger {
        -webkit-transform: translateX(90px) translateY(-123px);
                transform: translateX(90px) translateY(-123px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.hendrix-burger .hamburger {
        -webkit-transform: translateX(74px) translateY(-128px);
                transform: translateX(74px) translateY(-128px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.hendrix-burger:hover .hamburger {
        -webkit-transform: translateX(104px) translateY(-128px);
                transform: translateX(104px) translateY(-128px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.bowie-burger .hamburger {
        -webkit-transform: translateX(55px) translateY(-111px);
                transform: translateX(55px) translateY(-111px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.bowie-burger:hover .hamburger {
        -webkit-transform: translateX(75px) translateY(-111px);
                transform: translateX(75px) translateY(-111px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.kiss-burger .hamburger {
        -webkit-transform: translateX(63px) translateY(-122px);
                transform: translateX(63px) translateY(-122px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure.kiss-burger:hover .hamburger {
        -webkit-transform: translateX(90px) translateY(-122px);
                transform: translateX(90px) translateY(-122px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
.cardapio .burger-wrp figure figcaption {
        position: absolute;
        z-index: 3;
        top: 8px;
        left: 9px;
        color: #fff;
        padding: 15px 8px 12px 18px;
        text-align: center;
        width: 294px;
        height: 284px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
.cardapio .burger-wrp figure figcaption h3 {
          font-size: 2.319rem;
          font-family: "Phosphate-Solid", sans-serif;
          text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.63);
          line-height: .75;
          text-transform: uppercase;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 73px; }
.cardapio .burger-wrp figure figcaption h3 span {
            font-size: 0.686rem;
            display: block;
            margin: 4px auto 0; }
.cardapio .burger-wrp figure figcaption .ingredients {
          font-size: 0.824rem;
          font-weight: 400;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          margin-bottom: 100px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%; }
.cardapio .burger-wrp figure figcaption .including {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-item-align: end;
              align-self: flex-end;
          margin-right: auto;
          text-align: left;
          font-size: 0.685rem;
          text-align: left;
          font-family: "Phosphate-Solid", sans-serif;
          text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.63);
          line-height: 1;
          text-transform: uppercase; }
.cardapio .burger-wrp figure figcaption .price {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-item-align: end;
              align-self: flex-end;
          color: #f1c646;
          font-size: 2.284rem;
          font-weight: 900;
          text-shadow: 2px 4px 12.6px rgba(0, 0, 0, 0.75);
          font-family: "Montserrat", sans-serif;
          color: #000;
          -webkit-text-fill-color: #000;
          -webkit-text-stroke-width: 5px;
          -webkit-text-stroke-color: #000;
          position: relative; }
.cardapio .burger-wrp figure figcaption .price:before {
            content: attr(data-price);
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.684rem;
            color: #f1c646;
            -webkit-text-fill-color: #f1c646;
            -webkit-text-stroke-width: 0px;
            -webkit-text-stroke-color: #f1c646;
            font-weight: 900;
            -webkit-transform: translateX(4px) translateY(5.5px);
                    transform: translateX(4px) translateY(5.5px);
            letter-spacing: 0.3rem; }
.cardapio .burger-wrp figure figcaption.veggie h3 {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          height: 0;
          max-width: 123px;
          margin-top: 10px; }
.cardapio .burger-wrp figure figcaption.veggie .ingredients {
          margin: 113px auto 0; }
@media (max-width: 450px) {
        .cardapio .burger-wrp figure {
          max-width: 90%;
          min-width: 100%; } }
.cardapio .burger-wrp p {
      text-align: center;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 1.492rem;
      width: 100%;
      margin: 0 auto 35px; }
.cardapio .burger-wrp p strong {
        font-weight: 900; }
.cardapio .cardapio-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
@media (max-width: 1233px) {
      .cardapio .cardapio-wrp {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
.cardapio .col {
    width: 33%;
    min-width: 349px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
@media (max-width: 1233px) {
      .cardapio .col {
        margin: 0 10px 20px;
        width: 45%; } }
@media (max-width: 450px) {
      .cardapio .col {
        min-width: 100%; } }
.cardapio .col span {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 1.12rem;
      font-weight: 400;
      line-height: .7; }
@media (max-width: 450px) {
        .cardapio .col span {
          font-size: .92rem; } }
.cardapio .col h3 {
      color: #f1c646;
      font-family: "Phosphate-Solid", sans-serif;
      font-size: 1.751rem;
      letter-spacing: .1rem;
      line-height: .9;
      margin: 0 auto 13px;
      text-transform: uppercase; }
@media (max-width: 1233px) {
        .cardapio .col h3 {
          margin: 0 0 13px;
          width: 100%; } }
.cardapio .col p {
      font-size: 1.125rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      letter-spacing: .1rem;
      width: 85%; }
.cardapio .col .row {
      margin: 0 0 8px;
      width: 100%; }
.cardapio .col .row.row-0 {
        margin: 0 0 11px; }
.cardapio .col .row.row-3 {
        margin: 25px 0; }
.cardapio .col .row.row-3 span {
          line-height: 1.1; }
.cardapio .col .row.row-margin {
        margin: 0 0 45px; }
.cardapio .sobremesa {
    font-size: 1.354rem;
    font-weight: 700;
    color: #f1c646;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
#adicionais-icon g, #adicionais-icon-2 g {
  fill: transparent !important;
  stroke: #f1c646; }
.contato {
  background: url(~/assets/img/bg-contato.png);
  background-attachment: fixed;
  padding-bottom: 133px; }
header {
  background: #000; }
.map-container {
  overflow: hidden;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  border: 12px solid #ca272c; }
@media (max-width: 600px) {
    .map-container {
      width: 400px;
      height: 400px; } }
@media (max-width: 480px) {
    .map-container {
      width: 300px;
      height: 300px; } }
#map {
  width: 520px;
  height: 520px; }
@media (max-width: 600px) {
    #map {
      width: 400px;
      height: 400px; } }
@media (max-width: 480px) {
    #map {
      width: 300px;
      height: 300px; } }
.gmnoprint {
  display: none !important; }
a[href^="https://maps.google.com/maps"] {
  display: none !important; }
.gm-style-cc {
  display: none !important; }
#legend {
  background: white;
  width: 260px;
  height: 52px;
  border-radius: 8px;
  margin-top: -153px;
  margin-left: 295px;
  padding: 12px; }
#legend p {
    color: #da2944;
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 0.75em;
    width: 100% !important; }
#siteNotice {
  color: #da2944;
  text-transform: uppercase;
  line-height: 1.2em;
  overflow: hidden; }
.fale-conosco-sub {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.501rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 42px; }
@media (max-width: 1200px) {
  .map-container {
    margin-bottom: 20px; } }
.contato-container {
  width: 445px; }
.contato-container p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 14px; }
.contato-container p svg {
      margin-right: 15px; }
.contato-container p .whatsapp-icon {
      margin: 0 10px; }
.contato-container p input {
      border: 1px solid #fff;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      border-radius: 5px;
      height: 40px;
      padding: 15px 13px;
      font-size: 0.873rem;
      font-weight: 400;
      color: #fff;
      font-family: "Montserrat", sans-serif; }
.contato-container p textarea {
      border: 1px solid #fff;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      border-radius: 5px;
      max-height: 140px;
      padding: 15px 13px; }
.contato-container p input[type=submit] {
      background: #f1c647;
      border: none;
      width: 184px;
      height: 46px;
      color: #9f2329;
      font-size: 1.026rem;
      font-weight: 700;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
      -webkit-transition: background .5s;
      transition: background .5s; }
.contato-container p input[type=submit]:hover {
        -webkit-transition: background .5s;
        transition: background .5s;
        background: rgba(241, 198, 71, 0.8); }
.contato-container p ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif; }
.contato-container p ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif; }
.contato-container p :-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif; }
.contato-container p :-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif; }
.contato-container form {
    margin-top: 14px; }
.contato-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
@media (max-width: 1200px) {
    .contato-content {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
.phone-icon {
  width: 25px;
  height: 25px;
  fill: #fff; }
.email-icon {
  width: 26px;
  height: 17px;
  fill: #fff; }
.address-icon {
  width: 18px;
  height: 25px;
  fill: #fff; }
.whatsapp-icon {
  height: 25px;
  width: 25px; }
.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
@media (max-width: 400px) {
    .line span {
      width: 80%;
      margin: 8px 0; }
    .line .whatsapp-icon {
      margin-top: 16px; } }
.address-line svg {
  width: 28px;
  height: 25px; }
header {
  width: 100%;
  background: #a12225;
  height: 475px;
  border-bottom: 12px solid #f1c646; }
header .banner-top .container {
    position: relative; }
header .banner-top img {
    position: absolute;
    right: 0;
    bottom: 0; }
header .banner-top .burger-fries {
    z-index: 1;
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px); }
@media (max-width: 1024px) {
      header .banner-top .burger-fries {
        -webkit-transform: translateY(30px) translateX(100px);
                transform: translateY(30px) translateX(100px); } }
@media (max-width: 650px) {
      header .banner-top .burger-fries {
        display: none; } }
header .banner-top .burger-box {
    -webkit-transform: translateY(135px);
            transform: translateY(135px);
    z-index: 2; }
@media (max-width: 1024px) {
      header .banner-top .burger-box {
        -webkit-transform: translateY(135px) translateX(120px);
                transform: translateY(135px) translateX(120px); } }
@media (max-width: 900px) {
      header .banner-top .burger-box {
        -webkit-transform: translateY(135px) translateX(350px);
                transform: translateY(135px) translateX(350px); } }
@media (max-width: 650px) {
      header .banner-top .burger-box {
        display: none; } }
header .logo-banner {
    width: 510px;
    height: 280px;
    margin-top: 20px;
    position: relative;
    z-index: 5; }
@media (max-width: 650px) {
      header .logo-banner {
        max-width: 95%; } }
header .phone-banner {
    max-width: 500px;
    position: relative;
    z-index: 5; }
header .phone-banner span {
      display: block;
      font-family: "Phosphate-Solid", sans-serif;
      text-align: center;
      line-height: 1;
      text-transform: uppercase; }
header .phone-banner span:nth-child(1) {
        color: #fff;
        font-size: 2.687rem; }
header .phone-banner span:nth-child(2) {
        color: #fff;
        font-size: 2.089rem; }
header .space {
    width: 100%;
    height: 0; }
header.fixed .space {
    width: 100%;
    height: 80px; }
@media (max-width: 1100px) {
    header .space {
      width: 100%;
      height: 80px; } }
#logo-1 {
  fill: #c9282d; }
g {
  fill: #f1c647; }

/*# sourceMappingURL=style.css.map*/