/*********************************************************************
*  =Variables
*********************************************************************/
/*********************************************************************
*  =Grid and typograph
*********************************************************************/
/*********************************************************************
*  =Colors
*********************************************************************/
/*********************************************************************
*  = icon path
*********************************************************************/
/*********************************************************************
*  = Font Family
*********************************************************************/
/*********************************************************************
*  =Media Screen
*********************************************************************/
/*********************************************************************
*  =Functions
*********************************************************************/
/*********************************************************************
*  =Colorful links
*
*********************************************************************/
/*********************************************************************
*  =Pseudo icon mixin
*********************************************************************/
/*********************************************************************
*  Retina sprite
*********************************************************************/
/*********************************************************************
*  =Font smooth
*********************************************************************/
/*********************************************************************
*  =Clearfix
*********************************************************************/
/*********************************************************************
*  =Responsive
*********************************************************************/
/*********************************************************************
*  =Gradient
*********************************************************************/
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased; }
body, html {
  width: 100%;
  overflow-x: hidden !important; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-width: thin; }
ul {
  margin: 0;
  padding: 0;
  list-style: none; }
a {
  text-decoration: none; }
h3 {
  font-weight: normal; }
abbr {
  text-decoration: none; }
figure {
  padding: 0;
  margin: 0; }
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; }
/*********************************************************************
*  =Image replacement
*********************************************************************/
/*********************************************************************
*  =Centered content
*********************************************************************/
/*********************************************************************
*  =No underline
*********************************************************************/
/*********************************************************************
*  =Ellipsis
*********************************************************************/
/*********************************************************************
*  =Pseudo Icon
*********************************************************************/
/*********************************************************************
*  =Flex
*********************************************************************/
/*********************************************************************
*  =Verticaly centered
*********************************************************************/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.flex.between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.flex.vertical-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.notTouch {
  pointer-events: none; }
svg:not(.dflt) path {
  fill: inherit;
  stroke: inherit; }
svg:not(.dflt) line {
  fill: none;
  stroke-linejoin: round;
  stroke-width: inherit;
  stroke: inherit; }
svg:not(.dflt) polyline {
  stroke-dasharray: 0;
  stroke-dashoffset: 0; }
svg:not(.dflt) circle {
  fill: none;
  stroke-linejoin: round;
  stroke-width: inherit;
  stroke: inherit; }
.hidden {
  display: none; }
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 848px;
  margin: 0 auto;
  padding: 25px 0 0; }
nav a {
    font-family: "Phosphate-Solid", sans-serif;
    color: #000;
    font-size: 1.387rem;
    line-height: 0.315;
    text-align: center;
    position: relative;
    margin: 0;
    height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
nav a span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #f1c646;
      position: relative;
      z-index: 2; }
nav a .ribbon_edge {
      position: relative; }
nav a .ribbon_edge.left {
        left: 0; }
nav a .ribbon_edge.right {
        right: 30px; }
nav a .ribbon_edge.right:after {
          left: 17px; }
nav a.fale-conosco span {
      width: 150px; }
.ribbon_edge {
  display: inline-block;
  background: transparent;
  width: 40px;
  height: 29px; }
.ribbon_edge:before {
    content: '';
    top: 0px;
    left: 15px;
    border-color: #f1c646 transparent transparent;
    border-style: solid;
    border-width: 21px;
    height: 0px;
    width: 0px;
    position: relative;
    float: left; }
.ribbon_edge:after {
    content: '';
    top: -53px;
    left: 15px;
    border-color: transparent transparent #f1c646;
    border-style: solid;
    border-width: 20px;
    height: 0px;
    width: 0px;
    position: relative;
    float: left; }
h1, h2, h3, h4, h5, h6 {
  margin: 0; }
p {
  margin: 0; }
.cardapio {
  background: #341b1a; }
.cardapio .burger-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
.cardapio .burger-wrp figure {
      position: relative;
      width: 33%;
      max-width: 370px; }
.cardapio .burger-wrp figure svg {
        z-index: 1;
        position: absolute;
        right: 0; }
.cardapio .burger-wrp figure img {
        z-index: 2; }
.cardapio .burger-wrp figure figcaption {
        position: absolute;
        z-index: 3;
        top: 8px;
        left: 9px;
        color: #fff;
        padding: 15px 8px 12px 18px;
        text-align: center;
        width: 294px;
        height: 284px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
.cardapio .burger-wrp figure figcaption h3 {
          font-size: 2.319rem;
          font-family: "Phosphate-Solid", sans-serif; }
.cardapio .burger-wrp figure figcaption .including {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-item-align: end;
              align-self: flex-end;
          margin-right: auto;
          text-align: left; }
.cardapio .burger-wrp figure figcaption .price {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-item-align: end;
              align-self: flex-end; }
.cardapio .burger-wrp p {
      text-align: center;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 1.492rem;
      width: 100%;
      margin: 0 auto 35px; }
.cardapio .burger-wrp p strong {
        font-weight: 900; }
.cardapio .section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 3;
    padding: 65px 0 0;
    margin-bottom: 20px;
    width: 100%; }
.cardapio .section-title h2 {
      color: #2b1211;
      font-size: 4.689rem;
      text-align: center;
      font-family: "Phosphate-Solid", sans-serif;
      position: absolute; }
.cardapio .section-title .ribbon {
      fill: #f1c646;
      width: 433px;
      height: 67px; }
.cardapio .section-title .hamburger-icon {
      width: 66px;
      height: 66px;
      fill: #f1c646; }
.contato {
  background: url(/assets/img/bg-contato.png); }
header {
  background: #000; }
header {
  width: 100%;
  background: #a12225;
  height: 475px;
  border-bottom: 12px solid #f1c646; }
header .logo-top {
    display: none; }
header .phone-top {
    display: none; }
header .banner-top .container {
    position: relative; }
header .banner-top img {
    position: absolute;
    right: 0;
    bottom: 0; }
header .banner-top .burger-fries {
    z-index: 1;
    bottom: -100px;
    right: -92px; }
header .banner-top .burger-box {
    bottom: -135px;
    z-index: 2; }
header .logo-banner {
    width: 510px;
    height: 280px;
    margin-top: 20px; }
header .phone-banner {
    max-width: 500px; }
header .phone-banner span {
      display: block;
      font-family: "Phosphate-Solid", sans-serif;
      text-align: center;
      line-height: 1; }
header .phone-banner span:nth-child(1) {
        color: #fff;
        font-size: 2.687rem; }
header .phone-banner span:nth-child(2) {
        color: #fff;
        font-size: 2.089rem; }
#logo-1 {
  fill: #c9282d; }
g {
  fill: #f1c647; }

/*# sourceMappingURL=style.css.map*/