/*********************************************************************
*  =Variables
*********************************************************************/
/*********************************************************************
*  =Grid and typograph
*********************************************************************/
/*********************************************************************
*  =Colors
*********************************************************************/
/*********************************************************************
*  = icon path
*********************************************************************/
/*********************************************************************
*  = Font Family
*********************************************************************/
/*********************************************************************
*  =Media Screen
*********************************************************************/
/*********************************************************************
*  =Functions
*********************************************************************/
/*********************************************************************
*  =Colorful links
*
*********************************************************************/
/*********************************************************************
*  =Pseudo icon mixin
*********************************************************************/
/*********************************************************************
*  Retina sprite
*********************************************************************/
/*********************************************************************
*  =Font smooth
*********************************************************************/
/*********************************************************************
*  =Clearfix
*********************************************************************/
/*********************************************************************
*  =Responsive
*********************************************************************/
/*********************************************************************
*  =Gradient
*********************************************************************/
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased; }
body, html {
  width: 100%;
  overflow-x: hidden !important; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-width: thin; }
ul {
  margin: 0;
  padding: 0;
  list-style: none; }
a {
  text-decoration: none; }
h3 {
  font-weight: normal; }
abbr {
  text-decoration: none; }
figure {
  padding: 0;
  margin: 0; }
/*********************************************************************
*  =Image replacement
*********************************************************************/
/*********************************************************************
*  =Centered content
*********************************************************************/
/*********************************************************************
*  =No underline
*********************************************************************/
/*********************************************************************
*  =Ellipsis
*********************************************************************/
/*********************************************************************
*  =Pseudo Icon
*********************************************************************/
/*********************************************************************
*  =Flex
*********************************************************************/
/*********************************************************************
*  =Verticaly centered
*********************************************************************/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.flex.between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.flex.vertical-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.notTouch {
  pointer-events: none; }
svg:not(.dflt) path {
  fill: inherit;
  stroke: inherit; }
svg:not(.dflt) line {
  fill: none;
  stroke-linejoin: round;
  stroke-width: inherit;
  stroke: inherit; }
svg:not(.dflt) polyline {
  stroke-dasharray: 0;
  stroke-dashoffset: 0; }
svg:not(.dflt) circle {
  fill: none;
  stroke-linejoin: round;
  stroke-width: inherit;
  stroke: inherit; }
.hidden {
  display: none; }
h1, h2, h3, h4, h5, h6 {
  margin: 0; }
p {
  margin: 0; }
.cardapio {
  background: #341b1a; }
.contato {
  background: url(/assets/img/bg-contato.png); }
header {
  background: #000; }
header {
  width: 100%;
  background: #a12225;
  height: 475px;
  border-bottom: 12px solid #f1c646; }

/*# sourceMappingURL=style.css.map*/