svg:not(.dflt) {

  path{
    fill: inherit;
    stroke: inherit;
  }


  line{
    fill:none;
    stroke-linejoin:round;
    stroke-width: inherit;
    stroke:inherit;
  }

  polyline{
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }

  circle{
    fill:none;
    stroke-linejoin:round;
    stroke-width: inherit;
    stroke:inherit;
  }

}

.hidden{
  display: none;
}
.sprite {
  width: 0;
  height: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: inherit;
}