.cardapio {
    position: relative;
    z-index: 9;
    background: $c3;
    padding: 0 0 120px;
    box-shadow: -10px 30px 60px rgba($cBlack, 0.7);

    .burger-wrp {
        margin: 0 -20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex-wrap: wrap;

        @media(max-width: 770px) {
            margin: 0;
        }

        figure {
            position: relative;
            margin-bottom: 15px;
            width: 32%;
            min-width: 370px;
            cursor: pointer;
            opacity: 0;

            svg {
                z-index: 1;
                position: absolute;
                right: 0;
            }

            .box {
                z-index: 2;
                position: relative;
            }
            
            .hamburger {
               position: absolute;
               left: 0;
               top: 50%;
               transition: transform .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
               transform: translate3d(38%, -53%, 0);
               z-index: 1;
               cursor: pointer
             }

            &:hover {
            
              .hamburger {
               transform: translate3d(44%, -53%, 0);
              }
            }

            &.led-burger {

              .hamburger {
               transform: translate3d(65%, -52%, 0);
              }

              &:hover {
                .hamburger {
                  transform: translate3d(71%, -52%, 0);
                }
              }

            }

            &.ramones-burger{
                .hamburger {
                    transform: translate3d(50%, -52%, 0);
                }

                &:hover {
                    .hamburger {
                        transform: translate3d(56%, -52%, 0);
                    }
                }
            }

            &.hendrix-burger{

              .hamburger {
                transform: translate3d(45%, -52%, 0);
              }

              &:hover {
                .hamburger {
                  transform: translate3d(51%, -52%, 0);
                }
              }

            }

            &.kiss-burger{
              .hamburger {
                  transform: translate3d(41%, -52%, 0);
              }

              &:hover {
                  .hamburger {
                      transform: translate3d(47%, -52%, 0);
                  }
              }
            }

            img.loaded + figcaption{
                opacity: 1;
            }

            figcaption {
                position: absolute;
                z-index: 3;
                top: 8px;
                left: 9px;
                color: $cWhite;
                padding: 15px 8px 12px 18px;
                text-align: center;
                width: 294px;
                height: 284px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                opacity: 0;

                h3 {
                    font-size: 2.319rem;
                    font-family: $titleFont;
                    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.63);
                    line-height: .75;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    height: 73px;

                    span {
                        font-size: 0.686rem;
                        display: block;
                        margin: 4px auto 0;
                    }
                }
                .ingredients {
                    font-size: 0.824rem;
                    font-weight: 400;
                    text-align: center;
                    font-family: $contentFont;
                    margin-bottom: 110px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                .including {
                    display: flex;
                    align-self: flex-end;
                    margin-right: auto;
                    text-align: left;
                    font-size: 0.685rem;
                    text-align: left;
                    font-family: $titleFont;
                    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.63);
                    line-height: 1;
                    text-transform: uppercase;
                }
                .price {
                    display: flex;
                    align-self: flex-end;
                    color: $c2;
                    font-size: 2.284rem;
                    font-weight: 900;
                    text-shadow: 2px 4px 12.6px rgba(0, 0, 0, 0.75);
                    font-family: $contentFont;
                    color: $cBlack;
                    -webkit-text-fill-color: $cBlack;
                    -webkit-text-stroke-width: 5px;
                    -webkit-text-stroke-color: $cBlack;
                    position: relative;

                    &:before {
                        content: attr(data-price);
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 1.684rem;
                        color: $c2;
                        -webkit-text-fill-color: $c2;
                        -webkit-text-stroke-width: 0px;
                        -webkit-text-stroke-color: $c2;
                        font-weight: 900;
                        transform: translateX(4px) translateY(5.5px);
                        letter-spacing: 0.3rem;
                    }
                }

                &.veggie {
                    h3 {
                      flex-wrap: wrap;
                      height: 0;
                      max-width: 123px;
                      margin-top: 10px;
                    }
                    .ingredients {
                        margin: 158px auto 0;
                    }
                }

                &.kiss-burger{
                  .ingredients {
                    margin: 158px auto 0;
                  }
                }
            }

            @media(max-width: 780px){
                min-width: auto;
                width: 40%;

                .hamburger {
                    width: 70%;
                    height: auto;
                }

                .box {
                    width: 90%;
                    height: auto;
                }

                .hamburger {
                    width: 70%;
                    height: auto;
                }

                &.led-burger {
                    .hamburger {
                        width: 60%;
                    }

                    .ingredients {
                        margin-bottom: 30px;
                    }

                }

                &.ramones-burger {

                    figcaption .ingredients {
                        margin-bottom: 20px;
                    }

                    .hamburger{
                        width: 62%;
                        transform: translate3d(62%, -52%, 0);
                    }

                }


                &.beatles-burger {

                    .ingredients {
                        margin-bottom: 25px;
                    }

                    .hamburger {
                        width: 62%;
                        transform: translate3d(65%, -52%, 0);
                    }

                }

                &.kiss-burger {
                    .ingredients {
                        margin-bottom: 20px;
                    }
                }

                &.elvis-burger {
                    .ingredients {
                        margin-bottom: 10px;
                    }
                }

                &.bowie-burger figcaption {
                    .ingredients {
                        margin-bottom: 30px;
                    }
                }

                &.hendrix-burger figcaption {
                    .ingredients {
                        margin-bottom: 30px;
                    }
                }

                &.janis-burger {
                    figcaption .ingredients {
                        margin: 50px auto 5px;
                    }
                }


                figcaption {
                    left: 0;
                    height: 100%;
                    width: 90%;
                    padding: 14px;

                    .ingredients {
                        margin-bottom: 65px;
                    }

                    .price,
                    .including {
                        margin-bottom: 25px;
                    }

                    .price {
                        margin-right: 10px;
                    }

                    &.veggie .ingredients {
                        margin: 108px auto 0;
                    }

                }
            }

            @media(max-width: 450px) {
                min-width: 90%;
                width: 90%;
                margin: 0 5%;

                &.ramones-burger {
                    .hamburger {
                        transform: translate3d(40%, -53%, 0);
                        width: 75%;
                    }
                }

                &.led-burger {
                    figcaption .ingredients {
                        margin-bottom: 20px;
                    }
                    .hamburger {
                        transform: translate3d(45%, -50%, 0);
                        width: 70%;
                    }
                }

                &.beatles-burger {
                    figcaption .ingredients {
                        margin-bottom: 20px;
                    }

                    .hamburger { 
                        width: 78%;
                        transform: translate3d(38%, -50%, 0);
                    }
                }

                &.janis-burger {

                    figcaption .ingredients {
                        margin: 90px auto 15px;
                    }

                    .hamburger {
                        transform: translate3d(40%, -53%, 0);
                        width: 75%;
                    }
                }

                &.elvis-burger {
                    .ingredients {
                        margin-bottom: 10px;
                    }
                    .hamburger {
                        transform: translate3d(40%, -52%, 0);
                        width: 75%;
                    }
                }


                &.hendrix-burger figcaption{
                    .ingredients {
                        margin-bottom: 25px;
                    }

                    .hamburger {
                        width: 80%;
                        transform: translate3d(40%, -53%, 0);
                    }
                }



                &.bowie-burger  {
                    figcaption .ingredients {
                        margin-bottom: 20px;
                    }

                    .hamburger {
                        transform: translate3d(38%, -53%, 0);
                        width: 75%;
                    }

                }

                &.kiss-burger{
                    figcaption .ingredients {
                        margin-bottom: 20px;
                    }

                   .hamburger {
                       transform: translate3d(40%, -53%, 0);
                       width: 75%;
                   }

                }


            }

            $steps:10;
            $decrease:10;

            @for $i from 0 through $steps {
                &:nth-child(#{$i}) {
                    transform: translate3d(0, unquote( ($i * 5) + '% '), 0);
                    transition: transform 0.4s unquote( 0.1 + ( $i / 25) + 's ') $transition,
                    opacity 0.2s unquote( 0.1 + ( $i / 25) + 's ') $transition1;
                }
            }

        }

        p {
            text-align: center;
            color: $cWhite;
            font-family: $contentFont;
            font-size: 1.492rem;
            letter-spacing: 1pt;
            width: 100%;
            margin: 0 auto 35px;

            strong {
                font-weight: 900;
            }
        }

        &.active.all-loaded {
            figure{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

    }
    .cardapio-wrp {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @media(max-width: 1233px) {
            justify-content: center;
        }
    }
    .col {
        position: relative;
        padding: 0 20px;
        width: 33%;

        @media(max-width: 1233px) {
            margin: 0 10px 20px;
            width: 45%;
        }

        @media(max-width: 450px) {
            min-width: 100%;
        }

        h3 {
            position: relative;
            color: $c2;
            z-index: 2;
            display: inline;
            font-family: $titleFont;
            font-size: 1.751rem;
            letter-spacing: .1rem;
            line-height: .9em;
            margin: 0 auto 13px;
            text-transform: uppercase;
            background: $c3;
            
            @media(max-width: 1233px) {
              margin: 0 0 13px;
              width: 100%;
            }

            span{
                right: 0;
            }

        }
        p {
            font-size: 1.125rem;
            font-weight: 400;
            font-family: $contentFont;
            color: $cWhite;
            letter-spacing: .1rem;
        }
    
       .name {
            margin: 8px 0;
            font-family: $contentFont;
            color: $cWhite;
            font-weight: 700;
            font-size: 1.12rem;

        p{
            margin-bottom: 0;
            line-height: 1.2em;
        }

        small {
            position: relative;
            top: -6px;
            color: $cWhite;
            font-weight: 700;
            font-size: em(12px);
        }

       }
       

       .row, .name{
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                height: 100%;
                width: 100%;
                background: $c3;
                z-index: 999;
                transform-origin: right;
                transition: transform 1.2s $transition;
            }

            $steps:10;
            $decrease:10;
            @for $i from 0 through $steps {
                &:nth-child(#{$i}) {
                    &:before {
                        transition: transform 0.4s unquote( 0.4 + ( $i / 25) + 's ') $transition1;
                    }
                }
            }
       }

        .row {
            position: relative;
            margin: 0 0 5px;
            width: 100%;
            line-height: 1.2em;


            span {
                position: relative;
                z-index: 2;
                font-family: $contentFont;
                color: $cWhite;
                font-size: 1.12rem;
                font-weight: 500;
                background: $c3;
                &:last-child {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding-left: 2px;
                }
                @media(max-width: 450px) {
                    font-size: .92rem;
                }
            }

            &.row-0 {
                margin: 0 0 11px;
                &:after {
                    content: initial;
                }
            }

            &.type{
                margin: 23px 0;
            }

            &.row-3 {
                margin: 0 0 40px;
                span {
                    line-height: 1.1em;
                }
            }

            &.row-margin {
                margin: 0 0 38px;
            }

            &:after{
                content:"............................................................................................................................................................";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                color: $cWhite;
                white-space: nowrap;
                overflow: hidden;
                // border-bottom: 1px dotted $cWhite;
            }

        }

    }
    .sobremesa {
        font-size: 1.354rem;
        font-weight: 700;
        color: $c2;
        font-family: $contentFont;
        text-align: center;
    }

    .active {
            .col .row:before,
            .col .name:before {
            transform: scale3d(0, 1, 1);
        }
    }

}
#adicionais-icon, #adicionais-icon-2 {
    g {
        fill: transparent !important;
        stroke: $c2;
    }
}
