.cardapio {
    background: $c3;
    padding: 0 0 120px;

    .burger-wrp {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        figure {
            position: relative;
            width: 33%;
            max-width: 370px;
            min-width: 370px;

            svg {
                z-index: 1;
                position: absolute;
                right: 0;
            }
            .box {
                z-index: 2;
                position: relative;
            }
            .hamburger {
              position: absolute;
              left: 0;
              top: 50%;
              // margin-top: -111px;
              transform: translateX(110px);
              z-index: 1;
            }
            &.elvis-burger {
              .hamburger {
                transform: translateX(55px) translateY(-121px);
                transition: transform .5s;
              }
              &:hover {
                .hamburger {
                  transform: translateX(70px) translateY(-121px);
                  transition: transform .5s;
                }
              }
            }
            &.janis-burger {
              .hamburger {
                transform: translateX(55px) translateY(-120px);
                transition: transform .5s;
              }
              &:hover {
                .hamburger {
                  transform: translateX(78px) translateY(-120px);
                  transition: transform .5s;
                }
              }
            }
            &.ramones-burger {
              .hamburger {
                transform: translateX(70px) translateY(-110px);
                transition: transform .5s;
              }
              &:hover {
                .hamburger {
                  transform: translateX(100px) translateY(-110px);
                  transition: transform .5s;
                }
              }
            }
            &.led-burger {
              .hamburger {
                transform: translateX(100px) translateY(-128px);
                transition: transform .5s;
              }
              &:hover {
                .hamburger {
                  transition: transform .5s;
                  transform: translateX(125px) translateY(-128px);
                }
              }
            }
            &.beatles-burger {
              .hamburger {
                transform: translateX(65px) translateY(-123px);
                transition: transform .5s;
              }
              &:hover {
                .hamburger {
                  transform: translateX(90px) translateY(-123px);
                  transition: transform .5s;
                }
              }
            }
            &.hendrix-burger {
              .hamburger {
                transform: translateX(74px) translateY(-128px);
                  transition: transform .5s;
              }
              &:hover {
                .hamburger {
                  transform: translateX(104px) translateY(-128px);
                  transition: transform .5s;
                }
              }
            }
            &.bowie-burger {
              .hamburger {
                transform: translateX(55px) translateY(-111px);
                transition: transform .5s;
              }
              &:hover {
                .hamburger {
                  transform: translateX(75px) translateY(-111px);
                  transition: transform .5s;
                }
              }
            }
            &.kiss-burger {
              .hamburger {
                transform: translateX(63px) translateY(-122px);
                  transition: transform .5s;
              }
              &:hover {
                .hamburger {
                  transform: translateX(90px) translateY(-122px);
                  transition: transform .5s;
                }
              }
            }

            figcaption {
                position: absolute;
                z-index: 3;
                top: 8px;
                left: 9px;
                color: $cWhite;
                padding: 15px 8px 12px 18px;
                text-align: center;
                width: 294px;
                height: 284px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;

                h3 {
                    font-size: 2.319rem;
                    font-family: $titleFont;
                    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.63);
                    line-height: .75;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    height: 73px;

                    span {
                        font-size: 0.686rem;
                        display: block;
                        margin: 4px auto 0;
                    }
                }
                .ingredients {
                    font-size: 0.824rem;
                    font-weight: 400;
                    text-align: center;
                    font-family: $contentFont;
                    margin-bottom: 100px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                .including {
                    display: flex;
                    align-self: flex-end;
                    margin-right: auto;
                    text-align: left;
                    font-size: 0.685rem;
                    text-align: left;
                    font-family: $titleFont;
                    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.63);
                    line-height: 1;
                    text-transform: uppercase;
                }
                .price {
                    display: flex;
                    align-self: flex-end;
                    color: $c2;
                    font-size: 2.284rem;
                    font-weight: 900;
                    text-shadow: 2px 4px 12.6px rgba(0, 0, 0, 0.75);
                    font-family: $contentFont;
                    color: $cBlack;
                    -webkit-text-fill-color: $cBlack;
                    -webkit-text-stroke-width: 5px;
                    -webkit-text-stroke-color: $cBlack;
                    position: relative;

                    &:before {
                        content: attr(data-price);
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 2.284rem;
                        color: $c2;
                        -webkit-text-fill-color: $c2;
                        -webkit-text-stroke-width: 0px;
                        -webkit-text-stroke-color: $c2;
                        font-weight: 900;
                    }
                }

                &.veggie {
                    h3 {
                      flex-wrap: wrap;
                      height: 0;
                      max-width: 123px;
                      margin-top: 10px;
                    }
                    .ingredients {
                        margin: 113px auto 0;
                    }
                }
            }
            @media(max-width: 450px) {
                max-width: 90%;
                min-width: 100%;
            }
        }
        p {
            text-align: center;
            color: $cWhite;
            font-family: $contentFont;
            font-size: 1.492rem;
            width: 100%;
            margin: 0 auto 35px;

            strong {
                font-weight: 900;
            }
        }
    }
    .cardapio-wrp {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @media(max-width: 1233px) {
            justify-content: center;
        }
    }
    .col {
        width: 33%;
        min-width: 349px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media(max-width: 1233px) {
          .col {
            margin: 0 10px 20px;
          }
          @media(max-width: 450px) {
            min-width: 100%;
          }
        }

        span {
            font-family: $contentFont;
            color: $cWhite;
            font-size: 1.12rem;
            font-weight: 400;
            line-height: .7;

            @media(max-width: 450px) {
              font-size: .92rem;
            }
        }
        h3 {
            color: $c2;
            font-family: $titleFont;
            font-size: 1.751rem;
            letter-spacing: .1rem;
            line-height: .9;
            margin: 0 auto 13px;
            text-transform: uppercase;
        }
        p {
            font-size: 1.125rem;
            font-weight: 400;
            font-family: $contentFont;
            color: $cWhite;
            letter-spacing: .1rem;
            width: 85%;
        }

        .row {
            margin: 0 0 8px;
            width: 100%;

            &.row-0 {
                margin: 0 0 11px;
            }
            &.row-3 {
                margin: 25px 0;
                span {
                    line-height: 1.1;
                }
            }
            &.row-margin {
                margin: 0 0 45px;
            }
        }
    }
    .sobremesa {
        font-size: 1.354rem;
        font-weight: 700;
        color: $c2;
        font-family: $contentFont;
        text-align: center;
    }
}
#adicionais-icon, #adicionais-icon-2 {
    g {
        fill: transparent !important;
        stroke: $c2;
    }
}
