header {
    width: 100%;
    background: $c1;
    height: 475px;
    border-bottom: 12px solid $c2;

    .logo-top {
        display: none;
    }
    .phone-top {
        display: none;
    }
    .banner-top {
        .container {
            position: relative;
        }

        img {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .burger-fries {
            z-index: 1;
            // bottom: -100px;
            // right: -92px;
            transform: translateY(100px) translateX(100px);
            @media(max-width: 1024px) {
              transform: translateY(30px) translateX(100px);
            }
            @media(max-width: 650px) {
              display: none;
            }
        }
        .burger-box {
            // bottom: -135px;
            transform: translateY(135px);
            z-index: 2;

            @media(max-width: 1024px) {
              transform: translateY(135px) translateX(120px);
            }
            @media(max-width: 900px) {
              transform: translateY(135px) translateX(350px);
            }
              @media(max-width: 650px) {
              display: none;
            }
        }
    }
    .logo-banner {
        width: 510px;
        height: 280px;
        margin-top: 20px;
        position: relative;
        z-index: 5;

        @media(max-width: 650px) {
          max-width: 95%;
        }
    }
    .phone-banner {
        max-width: 500px;
        position: relative;
        z-index: 5;
        span {
            display: block;
            font-family: $titleFont;
            text-align: center;
            line-height: 1;
            text-transform: uppercase;

            &:nth-child(1) {
                color: $cWhite;
                font-size: 2.687rem;
            }
            &:nth-child(2) {
                color: $cWhite;
                font-size: 2.089rem;
            }
        }
    }
}
#logo-1 {
    fill: $c4;
}
g {
    fill: $c5;
}
