header {
    position: relative;
    z-index: 10;
    width: 100%;
    background: $c1;
    height: 475px;
    border-bottom: 12px solid $c2;

    .logo-top {
        // display: none;
    }
    .phone-top {
        // display: none;
    }
    .banner-top {
        padding: 60px 0;
        .container {
            position: relative;
        }
        img {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .burger-fries {
            z-index: 1;
            transform: translateY(100px) translateX(0px);

            @media(max-width: 1024px) { 
              display: none;
              transform: translateY(30px) translateX(100px);
            }

            @media(max-width: 650px) {
              display: none;
            }

        }

        .burger-box {
            transform: translateY(135px) translateX(-100px);
            z-index: 2;

            @media(max-width: 1024px) {
              display: none;
              transform: translateY(135px) translateX(120px);
            }

            @media(max-width: 900px) {
              transform: translateY(135px) translateX(350px);
            }
            
            @media(max-width: 650px) {
              display: none;
            }
        }
    }

    .logo-banner {
        width: 510px;
        height: 280px;
        margin-top: 40px;
        position: relative;
        z-index: 5;
        filter: drop-shadow(0 5px 20px rgba(black, 20));

        @media(max-width: 1024px) {
            display: block;
            margin: 30px auto 0;
        }


        @media(max-width: 650px) {
          max-width: 95%;
        }
    }

    .phone-banner {
        max-width: 500px;
        position: relative;
        left: 0px;
        top: -10px;
        z-index: 5;

        @media(max-width: 1024px) {
            display: block;
            margin: 0 auto;
            top: 0;
        }


        span {
            display: block;
            font-family: $titleFont;
            text-align: center;
            line-height: 1;
            text-transform: uppercase;

            &:nth-child(1) {
                color: $cWhite;
                font-size: 2.687rem;
                letter-spacing: 2.15pt;
            }

            &:nth-child(2) {
                color: $cWhite;
                font-size: 2.089rem;
                letter-spacing: 1.5pt;
            }
        }
    }

    .space {
        width: 100%;
        height: 80px;
        display: none;
    }
    &.fixed {

      .space {
        display: block
      }

    }

    @media(max-width: 1100px) {
      .space {
        width: 100%;
        height: 80px;
      }
    }
}
#logo-1 {
    fill: $c4;
}
g {
    fill: $c5;
}
